.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(185, 185, 173);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  width: 50%;
  margin: 20px;
}

/* Make the image responsive */
.container img {
  float: left;
  width:  70%;
  height: 300px;
  object-fit: cover;
}

/* Style the button and place it in the middle of the container/image */
.container .btn1 {
  position: absolute;
  top: 25%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(96, 7, 131);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn2 {
  position: absolute;
  top: 75%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(44, 133, 6);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: rgb(112, 28, 28);
}

.img {
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}


.navbar{
  width: 100%;
  background-color: white;

}
#left_wrapper {
  position: absolute;
  left: 150px;
  top: 30px; 
}
#right_wrapper {
  position: absolute;
  top: 30px;
  right: 30px;
}

#nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200px;
}

.navbar .btn3 {
  position: absolute;
  top: 7%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.navbar .btn4 {
  position: absolute;
  top: 7%;
  left: 92%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.logo {
  /* position: absolute; */
  /* float: left; */
  width: 12%;
  height: 15%;
  border-radius: 50%;
}